/* // X-Small devices (portrait phones, less than 576px) */
@media(min-width: 320px) and (max-width: 575.98px) { 
    #header_topbar {
        display: none;
    }
    #header .header_logo {
        width: 25% !important;
    }
    #header .navbar-nav {
        padding: 20px 0;
    }
    #header .contact_button {
        margin-bottom: 20px;
    }
    .footer_itemsone{
        margin-left: 0 !important;
    }
    .footer_bottom_main_heading{
        display: inline-block !important;
    }
    .footer_social{
        padding-top: 19px;
        text-align: center imn !important;
    }
    .carousel-caption h1 {
        font-size: 25px !important;
        line-height: 30px !important;
    }
    .carousel-item img {
        height: 400px !important;
    }
    .carousel-caption p {
        font-size: 16px !important;
        line-height: 23px !important;
    }
    .carousel-caption {
        top: 10% !important;
    }
    .carousel_btn_div{
        display: inline-block !important;
    }
    .carosel_button1{
        margin-bottom: 40px;
    }
    .common_heading h2{
        font-size: 27px !important;
        line-height: 35px !important;
    }
    .common_heading h5{
        text-align: center !important;
    }
    .p_leftRight_image{
        display: none;
    }
    .common_heading img {
        width: 15% !important;
    }
    #blog_section .common_heading{
        text-align: center;
        margin-bottom: 30px;
    }
    #blog_section .common_button{
        text-align: center;
    }
    .faq_accordion {
        padding: 20px !important;
    }
    .register_main_bg {
        padding: 20px !important;
    }
    .tehsil_main{
        margin-left: 0 !important;
    }
    .tehsil_main {
        text-align: center;
    }
    #breadcrumd_section .breadcrumd_heading h2 {
        font-size: 30px !important;
        line-height: 40px !important;
    }
    .common_filter_top{
        margin-top: 20px !important;
    }
    .common_filter_top{
        margin-top: 20px !important;
        margin: 0 ;
    }
    .single_add_heading h3{
        font-size: 22px !important;
    }
    .about_left_text{
        padding-right: 0 !important;
        text-align: center;
    }
    #about_us_section .about_list_image {
        width: 10% !important;
    }
    .widget-item{
        padding-bottom: 25px !important;
    }
    .about_img_birds{
        margin-top: 50px;
    }
    .cast_single_img img {
        width: 100% !important;
        margin-top: 20px;
    }
    .cast_single_heading{
        text-align: center !important;
    }
    .cast_single_heading_top{
        margin-top: 40px !important;
    }
    .single_blog_heading{
        text-align: center;
    }
    .single_blog_heading h4{
       font-size: 22px !important;
       line-height: 32px !important;
    }
    .single_blog_pd{
        padding-right: 0 !important;
    }
    #contact_form_section .contact_form_right_pd {
        padding-right: 0 !important;
        padding-bottom: 40px !important;
    }
    #contact_form_section .common_heading{
        text-align: center !important; 
    }
    .contact_form_social{
        text-align: center !important;
    }
    .contact_main_form {
        padding: 30px 20px !important;
    }
    
 }

/* // Small devices (landscape phones, less than 768px) */
@media (min-width: 575.98px) and (max-width: 767.98px) { 
    #header_topbar {
        display: none;
    }
    .footer_itemsone{
        margin-left: 0 !important;
       }
     .carousel-caption h1 {
        font-size: 25px !important;
        line-height: 30px !important;
    }
    .carousel-item img {
        height: 400px !important;
    }
    .carousel-caption p {
        font-size: 16px !important;
        line-height: 23px !important;
    }
   
    .carousel-caption {
        top: 20% !important;
    }
    .carousel_btn_div{
        display: inline-block !important;
    }
    .carosel_button1{
        margin-bottom: 40px;
    }
    .p_leftRight_image{
        display: none;
    }
    .common_heading img {
        width: 20% !important;
    }
    #blog_section .common_heading{
        text-align: center;
        margin-bottom: 30px;
    }
    #blog_section .common_button{
        text-align: center;
    }
    .register_main_bg {
        padding: 20px !important;
    }
    .tehsil_main{
        margin-left: 0 !important;
    }
    .tehsil_main {
        margin-left: 55px;
        text-align: center;
    }
    .common_filter_top{
        margin-top: 20px !important;
        margin: 0 ;
    }
    .single_add_heading h3 {
        font-size: 25px !important;
        line-height: 35px !important;
    }
    .about_img_birds{
        margin-top: 50px;
    }
    .widget-item{
        padding-bottom: 25px !important;
    }
    .about_left_text{
        padding-right: 0 !important;
        text-align: center;
    }
    #about_us_section .about_list_image {
        width: 10% !important;
    }
    .cast_single_img img {
        width: 100% !important;
        margin-top: 20px;
    }
    .cast_single_heading{
        text-align: center !important;
    }
    .single_blog_heading{
        text-align: center;
    }
    .single_blog_heading h4{
       font-size: 26px !important;
       line-height: 36px !important;
    }
    .single_blog_pd{
        padding-right: 0 !important;
    }
    #contact_form_section .contact_form_right_pd {
        padding-right: 0 !important;
        padding-bottom: 40px !important;
        
    }
    #contact_form_section .common_heading{
        text-align: center !important; 
    }
    .contact_form_social{
        text-align: center !important;
    }
    #presidents_and_secretaries .card {
        padding: 40px 20px !important;
    }

 }
/* // Medium devices (tablets, less than 992px) */
@media(min-width: 767.98px) and (max-width: 991.98px) { 
   .footer_itemsone{
    margin-left: 0 !important;
   }
   .carousel-caption h1 {
    font-size: 29px !important;
    line-height: 30px !important;
    }
    .carousel-item img {
        height: 400px !important;
    }
    .carousel-caption p {
        font-size: 16px !important;
        line-height: 23px !important;
    }
    .carousel-caption {
        top: 25% !important;
    }
    
    .carosel_button1{
        margin-bottom: 40px;
    }
    .common_filter_top{
        margin-top: 20px !important;
    }
    .about_img_birds{
        margin-top: 50px;
    }
    .widget-item{
        padding-bottom: 25px !important;
    }
    .about_left_text{
        padding-right: 0 !important;
        text-align: center;
    }
    .cast_single_img img {
        width: 100% !important;
        margin-top: 20px;
    }
    #contact_form_section .contact_form_right_pd {
        padding-right: 0 !important;
        padding-bottom: 40px20px !important;
        
    }
 }

/* // Large devices (desktops, less than 1200px) */
@media (min-width: 901.98px) and (max-width: 1199.98px) { 
    .navbar-expand-lg .navbar-nav .nav-link {
        font-size: 12px !important; 
    }
    .carousel-caption h1 {
        font-size: 40px !important;
        line-height: 50px !important;
    }
    .carousel-item img {
        height: 500px !important;
    }
    .carousel-caption p {
        font-size: 16px !important;
        line-height: 23px !important;
    }
    .carousel-caption {
        top: 30% !important;
    }
    
    .carosel_button1{
        margin-bottom: 40px;
    }
 }

/* // X-Large devices (large desktops, less than 1400px) */
@media (min-width: 1199.98px) and (max-width: 1399.98px) { 
    #presidents_and_secretaries .card {
        padding: 40px 26px !important;
    }
    .home_classified     {
        padding: 10px !important;
    }
 }
